In [7]:
import sleap_utils
import importlib

import h5py

Some info on sleap h5 files:

the shape of the tracks part is like this: x, y . Below is : frame. Below is : keypoint.

so tracks [0] [0] is x for frame 1. It will have as many values as keypoints.

In [48]:
importlib.reload(sleap_utils)

In [49]:
TestTracks = sleap_utils.Sleap_Track(
    "/mnt/upramdya_data/MD/MultiMazeRecorder/Videos/230721_Feedingstate_4_PM_Videos_Tracked/arena5/corridor5/corridor5_tracked_fly_full.000_corridor5.analysis.h5"
)

Loaded SLEAP tracking file: /mnt/upramdya_data/MD/MultiMazeRecorder/Videos/230721_Feedingstate_4_PM_Videos_Tracked/arena5/corridor5/corridor5_tracked_fly_full.000_corridor5.analysis.h5

In [50]:
TestTracks.data

,frame,animal,x_Head,y_Head,x_Thorax,y_Thorax,x_Abdomen,y_Abdomen,x_Rfront,y_Rfront,...,x_Lmid,y_Lmid,x_Rhind,y_Rhind,x_Lhind,y_Lhind,x_Rwing,y_Rwing,x_Lwing,y_Lwing
0,1,animal_1,67.803345,456.105164,60.273571,463.772491,51.479980,476.561279,79.872757,455.745972,...,67.588760,439.964844,59.479717,495.946106,NaN,NaN,40.173405,491.796600,35.657188,483.769287
1,2,animal_1,68.268356,456.329041,60.578598,463.853394,51.511574,476.593781,80.147552,455.539246,...,67.514206,440.015472,59.564426,495.984802,NaN,NaN,40.137985,491.775391,35.748302,483.657196
2,3,animal_1,67.982857,455.887848,60.390984,463.693726,51.577637,476.457916,80.017929,455.752045,...,67.217697,439.795685,60.276558,495.975250,NaN,NaN,43.606812,492.047058,36.278145,483.756683
3,4,animal_1,67.738083,455.733643,60.124840,463.581909,48.654842,479.458008,79.792404,455.878998,...,67.489212,439.602325,60.252178,495.836121,NaN,NaN,43.539204,492.060913,36.174133,483.452789
4,5,animal_1,67.658409,455.719055,60.090412,463.651398,51.403687,479.446564,79.745377,455.985809,...,NaN,NaN,60.211952,495.781738,NaN,NaN,43.728321,492.218506,36.364647,483.029022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215995,215996,animal_1,60.399242,444.551025,60.099228,456.334503,64.067413,475.924866,72.099281,440.263092,...,NaN,NaN,79.766144,487.751709,NaN,NaN,63.576111,492.294922,56.461533,491.731476
215996,215997,animal_1,60.334312,444.548462,60.044952,456.347656,64.108086,475.889862,72.191437,440.211792,...,NaN,NaN,79.767509,487.800018,NaN,NaN,63.613811,492.248383,56.491657,491.753693
215997,215998,animal_1,60.384983,444.538544,60.060642,456.372192,64.140190,475.886566,72.256310,440.307526,...,NaN,NaN,79.837975,487.944702,NaN,NaN,63.584221,492.281311,56.407120,491.737976
215998,215999,animal_1,60.366383,444.536987,60.076088,456.340820,64.153770,475.849640,72.203232,440.296356,...,NaN,NaN,79.849838,487.879425,NaN,NaN,63.634121,492.190674,56.453880,491.677582
215999,216000,animal_1,60.325886,444.554657,60.065193,456.335144,64.130829,475.834961,72.132210,440.192688,...,NaN,NaN,79.797401,487.743652,NaN,NaN,63.678421,492.194031,59.357925,491.694061

In [24]:
TestTracks.nodes

['Head',
 'Thorax',
 'Abdomen',
 'Rfront',
 'Lfront',
 'Rmid',
 'Lmid',
 'Rhind',
 'Lhind',
 'Rwing',
 'Lwing']

In [12]:
tracks = h5py.File("/mnt/upramdya_data/MD/MultiMazeRecorder/Videos/230721_Feedingstate_4_PM_Videos_Tracked/arena5/corridor5/corridor5_tracked_fly_full.000_corridor5.analysis.h5", "r")

In [13]:
tracks

In [14]:
list(tracks.keys())

['edge_inds',
 'edge_names',
 'instance_scores',
 'labels_path',
 'node_names',
 'point_scores',
 'provenance',
 'track_names',
 'track_occupancy',
 'tracking_scores',
 'tracks',
 'video_ind',
 'video_path']

In [15]:
nodes = tracks["node_names"]

In [19]:
nodes[:]

array([b'Head', b'Thorax', b'Abdomen', b'Rfront', b'Lfront', b'Rmid',
       b'Lmid', b'Rhind', b'Lhind', b'Rwing', b'Lwing'], dtype='|S7')

In [20]:
# Convert to list of strings
nodes = [x.decode("utf-8") for x in nodes]

nodes

['Head',
 'Thorax',
 'Abdomen',
 'Rfront',
 'Lfront',
 'Rmid',
 'Lmid',
 'Rhind',
 'Lhind',
 'Rwing',
 'Lwing']

In [25]:
tracks['provenance']

In [38]:
tracks["tracks"]

In [32]:
tracks['tracks'][0][0]

array([[67.80334473, 68.26835632, 67.98285675, ..., 60.38498306,
        60.3663826 , 60.32588577],
       [60.27357101, 60.57859802, 60.39098358, ..., 60.06064224,
        60.07608795, 60.06519318],
       [51.47998047, 51.51157379, 51.57763672, ..., 64.14019012,
        64.15377045, 64.13082886],
       ...,
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [40.17340469, 40.13798523, 43.60681152, ..., 63.58422089,
        63.63412094, 63.67842102],
       [35.65718842, 35.74830246, 36.27814484, ..., 56.40711975,
        56.45388031, 59.35792542]])